.LoginPage{
  display:flex;
  justify-content: center;
  background-color: #26408B;
  font-size: 20px;
  color:white;
}


@media(max-width:600px){
  .LoginPage{
    flex-direction: column;
    display:flex;
    text-align: center;    
  }
}
