.EventListItem{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  background: none;
  border: 0;
  border-bottom: 1px solid #3f455038;
  font-size: smaller;
  
  padding: 10px 10px 0;
  
  width: 100%;
  
}

.EventListItem:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0.19,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}

.EventListItem_link{
  text-decoration: none;
}

.EventListItem__heading{
  width:350px;
}

.EventListItem__heading:hover{
  font-size:25px;
}

.event_level{
  font-size: 15px;
  width:250px;
  text-align: left;
}
.event_level:hover{
  font-size:25px;
}

.event_date{
  font-size:15px;
}