.EventListItem{
  color:white;
  display:flex;
  justify-content: space-around;
  align-items: baseline;
  background: none;
  border: 0;
  font-size: smaller;
  width: 100%;
 
}
.event_title{
  font-size:20px;
}
a{
  text-decoration: none;
}

.EventListItem:hover {
  cursor: pointer;
  background-color:#9CEC5B;
  
}

.EventListItem_link{
  text-decoration: none;
}

.EventListItem__heading{
  width:350px;
  margin-left: 20px;
  
}



.event_level{
  font-size: 15px;
  width:250px;
  text-align: left;
  
}


.event_date{
  font-size:15px;
  
 
}

@media(max-width:600px){
  .EventListItem{
    flex-direction: column;    
    padding:10px;
    text-align: center;
  }
  .EventListItem__heading{
    margin-left:0px;

  }
}