.AccountPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #049c41;
}

.plots{
  display:flex;
  justify-content: center;
  
  flex-direction: column;
}

.plot_1{
  margin:0 auto;
}

.plot_2{
  margin:0 auto;
}

.yvalue_selector{
  
  text-align: right;
  margin: 0 300px;
}

.select_yvalue{
  font-size: 20px;
  position:fixed;
  margin-left:50px;
}

.account_title{
  font-size: 30px;
  color:white;
  text-align: center;
}

@media(max-width:600px){
  .plots{
    flex-direction:column;    
  }
  .plot_1{
    width:400px;
  }

  .yvalue_selector{
   
    margin:0 130px;
    margin-top: 15px;
    margin-bottom:140px;
    display:flex;
    justify-content: center;
    position:sticky;
    top: 0;
  }

}