


.footer{
  display:flex;
  justify-content: center;
  flex-shrink: 0;
}

main{
  flex: 1;
  background-color: #049c41;
}

.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}







