.Header{
  background-color: #049c41;
  display: flex;  
  justify-content: space-between;
}


.logo {
    
  color:white;
  font-size: 30px;
}

.logo:hover {
    
  color:white;
  font-size: 35px;
}

.Header__not-logged-in {
  font-family:'Roboto',sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: none;
  margin-top:5px;
}

.Header__not-logged-in a{
  font-size:25px;
  margin-bottom:5px;
  font-family:'Roboto',sans-serif;

}

.Header__logged-in{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size:25px;
  margin-bottom:5px;
  margin-right:20px;
  font-family:'Roboto',sans-serif;
  width:40%;
  
}

.Header__logged-in a{
  font-size:25px;
  margin-bottom:5px;
  font-family:'Roboto',sans-serif;

}

.Header a{
  color:white;
  padding:5px;
  text-decoration: none;
  
  
}

.Header a:hover{
  font-size: 35px;
  
}

@media (max-width:600px){
  .Header{
    flex-direction: column;
  }
  .Header__logged-in{
    flex-direction: column;
    width:100%;
  }
}