.Header{
  background-color: #049c41;
  display: flex;  
  justify-content: space-between;
}

.logo {
  
  color:white;
  font-size: 30px;
}

.Header__not-logged-in {

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: none;
}

.Header__not-logged-in a{
  font-size:25px;
  margin-bottom:5px;

}

.Header__logged-in{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size:25px;
  margin-bottom:5px;
  
}


.Header a{
  color:white;
  padding:5px;
  text-decoration: none;
  
  
}

.Header a:hover{
  font-size: 35px;
  
}