

.EventItemsContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}

.EventListPage{
  background-color: #049c41;
  
}

.EventListPage input{  
    border: 1px solid #ddd;
    display: block;
    font-size: 20px;    
    margin-top: 10px;
    padding: 5px;
    text-align: left;
   
    border-radius: 4px;  
}



.search_by_title{
  display:flex;
  justify-content: space-evenly,center;
  align-items: baseline;  
  
  margin-left: 20px;  
  margin-bottom: 5px;
}

.search_by_date{
  display:flex;
  justify-content: space-between,center;
  align-items: baseline;  
  
  margin-left: 20px;  
  margin-bottom: 5px;
}


.search-bar{
  
  display:flex;
  justify-content: space-evenly;
  align-items: center;  
  font-size: 15px;
  
}

.show-all-event-button{
  font-size: 20px;
  margin-top: 5px;
  
}

.EventListPage label{
  margin-right: 15px;
  color:white;
}

.date-picker {
  margin-left: 15px;
  
}

.date-picker input{
  margin-top: 5px;
  height: 20px;
}

.show-all-event-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size:20px;
  font-weight:300;
  color:white;
  background-color: #049c41;
  text-align:center;
  transition: all 0.2s;
  }
  
  .show-all-event-button:hover{
    font-size:25px;
  }
  

  @media (max-width:600px){
    .date-picker{
      margin-left:0px;
    }
    .search-bar{            
      flex-direction: column;  
         
    }

    .search_by_date label{
      text-align: center;
    }

    .search_by_title{
      flex-direction: column;
      margin-left: 0px;
      padding:5px;  
      margin:0 auto;
            
    }
    .search_by_date{
      margin-left: 0px;      
      flex-direction: column;  
      margin:10px auto;
    }
  }